//
// Written by Synplify
// Synplify 7.7.0, Build 033R.
// Thu Jun 02 13:33:14 2011
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "noname"
// file 1 "\e:\project\irisking\ikemb-0001\project\hardware\ov7720\fpga_v3\fpga.v "

`timescale 100 ps/100 ps
module FPGA (
  clk,
  nReset,
  vpdin,
  vpdout,
  vpctlin,
  vpctlout,
  vpclkin,
  vpclkout
);
input clk ;
input nReset ;
input [9:0] vpdin ;
output [9:0] vpdout /* synthesis syn_tristate = 1 */;
input [2:0] vpctlin ;
output [2:0] vpctlout /* synthesis syn_tristate = 1 */;
input [1:0] vpclkin ;
output [1:0] vpclkout /* synthesis syn_tristate = 1 */;
wire clk ;
wire nReset ;
wire GND ;
wire G_1 ;
wire G_2 ;
wire G_3 ;
wire G_4 ;
wire G_5 ;
wire G_6 ;
wire G_7 ;
wire G_8 ;
wire G_9 ;
wire G_10 ;
wire G_11 ;
wire G_12 ;
wire G_13 ;
wire G_14 ;
wire VCC ;
tri1 tridevclrn;
tri1 tridevpor;
tri0 tridevoe;
//@1:1
  assign VCC = 1'b1;
//@1:1
  assign GND = 1'b0;
// @1:7
  cycloneii_io vpclkin_in_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpclkin[1]),
	.regout(),
	.combout(G_14),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpclkin_in_1_.operation_mode = "input";
// @1:7
  cycloneii_io vpclkin_in_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpclkin[0]),
	.regout(),
	.combout(G_13),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpclkin_in_0_.operation_mode = "input";
// @1:5
  cycloneii_io vpctlin_in_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpctlin[1]),
	.regout(),
	.combout(G_12),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpctlin_in_1_.operation_mode = "input";
// @1:5
  cycloneii_io vpctlin_in_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpctlin[0]),
	.regout(),
	.combout(G_11),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpctlin_in_0_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[9]),
	.regout(),
	.combout(G_10),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_9_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[8]),
	.regout(),
	.combout(G_9),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_8_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[7]),
	.regout(),
	.combout(G_8),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_7_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[6]),
	.regout(),
	.combout(G_7),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_6_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[5]),
	.regout(),
	.combout(G_6),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_5_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[4]),
	.regout(),
	.combout(G_5),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_4_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[3]),
	.regout(),
	.combout(G_4),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_3_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[2]),
	.regout(),
	.combout(G_3),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_2_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[1]),
	.regout(),
	.combout(G_2),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_1_.operation_mode = "input";
// @1:3
  cycloneii_io vpdin_in_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdin[0]),
	.regout(),
	.combout(G_1),
	.datain(),
	.oe(GND),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdin_in_0_.operation_mode = "input";
// @1:8
  cycloneii_io vpclkout_out_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpclkout[1]),
	.regout(),
	.combout(),
	.datain(G_14),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpclkout_out_1_.operation_mode = "output";
// @1:8
  cycloneii_io vpclkout_out_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpclkout[0]),
	.regout(),
	.combout(),
	.datain(G_13),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpclkout_out_0_.operation_mode = "output";
// @1:6
  cycloneii_io vpctlout_out_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpctlout[1]),
	.regout(),
	.combout(),
	.datain(G_12),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpctlout_out_1_.operation_mode = "output";
// @1:6
  cycloneii_io vpctlout_out_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpctlout[0]),
	.regout(),
	.combout(),
	.datain(G_11),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpctlout_out_0_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[9]),
	.regout(),
	.combout(),
	.datain(G_10),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_9_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[8]),
	.regout(),
	.combout(),
	.datain(G_9),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_8_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[7]),
	.regout(),
	.combout(),
	.datain(G_8),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_7_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[6]),
	.regout(),
	.combout(),
	.datain(G_7),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_6_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[5]),
	.regout(),
	.combout(),
	.datain(G_6),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_5_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[4]),
	.regout(),
	.combout(),
	.datain(G_5),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_4_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[3]),
	.regout(),
	.combout(),
	.datain(G_4),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_3_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[2]),
	.regout(),
	.combout(),
	.datain(G_3),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_2_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[1]),
	.regout(),
	.combout(),
	.datain(G_2),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_1_.operation_mode = "output";
// @1:4
  cycloneii_io vpdout_out_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.devoe(tridevoe),
	.padio(vpdout[0]),
	.regout(),
	.combout(),
	.datain(G_1),
	.oe(VCC),
	.outclk(),
	.outclkena(VCC),
	.inclk(),
	.inclkena(VCC),
	.areset(GND),
	.sreset(GND)
);
defparam vpdout_out_0_.operation_mode = "output";
assign vpctlout[2] = GND;
endmodule /* FPGA */

